examples/node/number/number_usage.json
[{"id":"cb8c6a0579380b1e","type":"server-state-changed","z":"531844fd6e8e6b59","name":"","server":"","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"number.test_number","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"}],"x":228,"y":304,"wires":[["a0978f86513bbea9"]]},{"id":"a0978f86513bbea9","type":"debug","z":"531844fd6e8e6b59","name":"event state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.old_state.state & \" : \" & payload.new_state.state","targetType":"jsonata","statusVal":"","statusType":"auto","x":478,"y":304,"wires":[]},{"id":"c7b45a2c6c7215d6","type":"ha-number","z":"531844fd6e8e6b59","name":"","version":1,"debugenabled":false,"inputs":0,"outputs":1,"entityConfig":"4ddebbdb83b1cef1","mode":"listen","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previous","propertyType":"msg","value":"","valueType":"previousValue"}],"x":142,"y":256,"wires":[["085546d04890ecec"]]},{"id":"085546d04890ecec","type":"debug","z":"531844fd6e8e6b59","name":"number listen","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"previous & \" : \" & payload ","targetType":"jsonata","statusVal":"","statusType":"auto","x":344,"y":256,"wires":[]},{"id":"35fb409f4909de0e","type":"inject","z":"531844fd6e8e6b59","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":146,"y":112,"wires":[["61922b820eb9fd05"]]},{"id":"61922b820eb9fd05","type":"ha-number","z":"531844fd6e8e6b59","name":"","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"4ddebbdb83b1cef1","mode":"set","value":"$floor($random() * 1000) + 1","valueType":"jsonata","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"},{"property":"previous","propertyType":"msg","value":"","valueType":"previousValue"}],"x":314,"y":112,"wires":[["2021574156db4cfc"]]},{"id":"6efeac97ac50f168","type":"inject","z":"531844fd6e8e6b59","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":146,"y":160,"wires":[["2dd5c6c8df7810e4"]]},{"id":"2dd5c6c8df7810e4","type":"api-call-service","z":"531844fd6e8e6b59","name":"","server":"","version":5,"debugenabled":false,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.test_number"],"data":"{\"value\": $floor($random() * 1000) + 1}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":354,"y":160,"wires":[[]]},{"id":"2021574156db4cfc","type":"debug","z":"531844fd6e8e6b59","name":"number set","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"previous & \" : \" & payload ","targetType":"jsonata","statusVal":"","statusType":"auto","x":474,"y":112,"wires":[]},{"id":"25481fa7cf1f5404","type":"inject","z":"531844fd6e8e6b59","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":142,"y":208,"wires":[["3ac7d1c0fbbabd14"]]},{"id":"3ac7d1c0fbbabd14","type":"ha-number","z":"531844fd6e8e6b59","name":"","version":1,"debugenabled":false,"inputs":1,"outputs":1,"entityConfig":"4ddebbdb83b1cef1","mode":"get","value":"$floor($random() * 1000) + 1","valueType":"jsonata","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"value"}],"x":310,"y":208,"wires":[["697b6ee286987b0d"]]},{"id":"697b6ee286987b0d","type":"debug","z":"531844fd6e8e6b59","name":"number get","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":208,"wires":[]},{"id":"4ddebbdb83b1cef1","type":"ha-entity-config","server":"bf5874816710d0c7","deviceConfig":"","name":"test number","version":"6","entityType":"number","haConfig":[{"property":"name","value":"test number"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"data_size"},{"property":"unit_of_measurement","value":"GiB"},{"property":"min_value","value":1},{"property":"max_value","value":1000},{"property":"step_value","value":1},{"property":"mode","value":"box"}],"resend":false,"debugEnabled":false}]
