examples/node/update-config/use01.json
[{"id":"f74eb5b7233cf386","type":"inject","z":"c84b6e0a642a4bce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":836,"y":672,"wires":[["f01a6d954835e535"]]},{"id":"f01a6d954835e535","type":"ha-sensor","z":"c84b6e0a642a4bce","name":"example one","entityConfig":"e4293de95073f8cd","version":0,"state":"$round($random() * 100, 0)","stateType":"jsonata","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":672,"wires":[[]]},{"id":"fa343985973ac02b","type":"ha-update-config","z":"c84b6e0a642a4bce","name":"","server":"e120e5718cc68a9a","entityConfig":"d18ff4919779da55","version":0,"outputProperties":[],"x":1024,"y":768,"wires":[[]]},{"id":"d9d27ac6b4ebf78f","type":"inject","z":"c84b6e0a642a4bce","name":"override id","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(\t   $icons := [\t       'mdi:home-assistant',\t       'mdi:home',\t       'mdi:home-outline',\t       'mdi:home-variant',\t       'mdi:home-variant-outline',\t       'mdi:home-city'\t       ];\t   $simpsons := [\t       \"homer\",\t       \"marge\",\t       \"bart\",\t       \"lisa\",\t       \"maggie\"\t   ];\t   {\t       \"name\": $shuffle($simpsons)[0],\t       \"id\": \"e4293de95073f8cd\",\t       \"icon\": $shuffle($icons)[0]\t       }\t)","payloadType":"jsonata","x":836,"y":816,"wires":[["fa343985973ac02b"]]},{"id":"4171499cb42d4c08","type":"inject","z":"c84b6e0a642a4bce","name":"use default id","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"(\t    $simpsons := [\"homer\", \"marge\", \"bart\", \"lisa\", \"maggie\"];\t    {\"name\": $shuffle($simpsons)[0] ,\"icon\":\"\"}\t)","payloadType":"jsonata","x":842,"y":768,"wires":[["fa343985973ac02b"]]},{"id":"94e86f1c0b4f113d","type":"ha-sensor","z":"c84b6e0a642a4bce","name":"example two","entityConfig":"d18ff4919779da55","version":0,"state":"$round($random() * 100, 0)","stateType":"jsonata","attributes":[],"inputOverride":"allow","outputProperties":[],"x":1010,"y":720,"wires":[[]]},{"id":"0d31aa0621b4fe6f","type":"inject","z":"c84b6e0a642a4bce","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":836,"y":720,"wires":[["94e86f1c0b4f113d"]]},{"id":"e4293de95073f8cd","type":"ha-entity-config","server":"e120e5718cc68a9a","deviceConfig":"","name":"example one","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Node-RED example one"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false},{"id":"d18ff4919779da55","type":"ha-entity-config","server":"e120e5718cc68a9a","deviceConfig":"","name":"example two","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Node-RED example one"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":"‎ "},{"property":"state_class","value":""}],"resend":false}]
