examples/cookbook/jsonata-examples/entity-sensor.json
[{"id":"6641636cb6519d5b","type":"group","z":"776c027950fc8c3f","name":"Sensor Node - set state and attribute values","style":{"label":true,"color":"#000000"},"nodes":["e6c5cba01935d354","33b64d1c54db089c","e4f92ef2cbc1ff98","926821aed3e8eb7b","d00ade742f015fa0","e7bab73424c17c13"],"x":54,"y":1699,"w":912,"h":222},{"id":"e6c5cba01935d354","type":"inject","z":"776c027950fc8c3f","g":"6641636cb6519d5b","name":"Manual Trigger","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":1740,"wires":[["33b64d1c54db089c"]]},{"id":"33b64d1c54db089c","type":"ha-sensor","z":"776c027950fc8c3f","g":"6641636cb6519d5b","name":"How many lights are on","entityConfig":"02814df043c7111b","version":0,"state":"$entities().*[state = \"on\" and entity_id ~> /^light|^switch/] ~> $count()","stateType":"jsonata","attributes":[{"property":"lights_table","value":"$entities().*[state = \"on\" and entity_id ~> /^light|^switch/].{\"name\": attributes.friendly_name, \"lastChange\": last_changed}","valueType":"jsonata"},{"property":"time","value":"","valueType":"date"}],"inputOverride":"allow","outputProperties":[],"x":450,"y":1740,"wires":[[]],"server":""},{"id":"e4f92ef2cbc1ff98","type":"server-state-changed","z":"776c027950fc8c3f","g":"6641636cb6519d5b","name":"","server":"","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.lights_on_count","entityIdType":"exact","outputInitially":false,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"table","propertyType":"msg","value":"$entity().attributes.lights_table","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"changes","propertyType":"msg","value":"(\t    $old:=$prevEntity().attributes.lights_table;\t    $new:=$entity().attributes.lights_table;\t    {\"on\": $new[$not(name in $old.name)],\t    \"off\": $old[$not(name in $new.name)]}\t)","valueType":"jsonata"}],"x":470,"y":1820,"wires":[["926821aed3e8eb7b","d00ade742f015fa0","e7bab73424c17c13"]]},{"id":"926821aed3e8eb7b","type":"debug","z":"776c027950fc8c3f","g":"6641636cb6519d5b","name":"Count of lights on","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":830,"y":1760,"wires":[]},{"id":"d00ade742f015fa0","type":"debug","z":"776c027950fc8c3f","g":"6641636cb6519d5b","name":"Array table","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"table","targetType":"msg","statusVal":"payload","statusType":"auto","x":810,"y":1820,"wires":[]},{"id":"e7bab73424c17c13","type":"debug","z":"776c027950fc8c3f","g":"6641636cb6519d5b","name":"Changes","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"changes","targetType":"msg","statusVal":"changes","statusType":"auto","x":800,"y":1880,"wires":[]},{"id":"02814df043c7111b","type":"ha-entity-config","server":"","deviceConfig":"","name":"SC LS On Count","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"LS On Count"},{"property":"icon","value":""},{"property":"entity_picture","value":""},{"property":"entity_category","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false}]