examples/cookbook/vacation-mode/step_02.json
[{"id":"60eda076.3a8f1","type":"api-call-service","z":"91a80f99.6180e","name":"Turn on Vacation Mode?","version":1,"debugenabled":false,"service_domain":"notify","service":"jason","entityId":"","data":"{\"title\":\"Vacation Mode\",\"message\":\"You've been aways for 24 hours. Do you want to turn on vacation mode?\",\"data\":{\"tag\":\"vacation-mode-notification\",\"actions\":[{\"action\":\"vacation_mode\",\"title\":\"Turn On\"}]}}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":686,"y":2240,"wires":[[]]},{"id":"4a2b9b04.6d4b94","type":"server-state-changed","z":"91a80f99.6180e","name":"Home/Away","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"person.jason","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"not_home","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":214,"y":2240,"wires":[["8df8d94e.eff5b8"],["e75fffa3.3c29a","1fdbf9b4.ae5c76"]]},{"id":"8df8d94e.eff5b8","type":"ha-wait-until","z":"91a80f99.6180e","name":"vacation mode on?","outputs":2,"entityId":"input_boolean.vacation_mode","property":"state","comparator":"is","value":"on","valueType":"str","timeout":"1","timeoutUnits":"days","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":442,"y":2240,"wires":[[],["60eda076.3a8f1"]]},{"id":"e75fffa3.3c29a","type":"change","z":"91a80f99.6180e","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":432,"y":2288,"wires":[["8df8d94e.eff5b8"]]},{"id":"1fdbf9b4.ae5c76","type":"api-call-service","z":"91a80f99.6180e","name":"Vacation Mode Off","version":"1","service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.vacation_mode","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":442,"y":2336,"wires":[[]]}]
