examples/cookbook/vacation-mode/step_03.json
[{"id":"c9042706.5587d8","type":"server-events","z":"91a80f99.6180e","name":"fcm_android_notifications","event_type":"fcm_android_notifications.clicked","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":222,"y":2480,"wires":[["59fb517a.540ad"]]},{"id":"59fb517a.540ad","type":"switch","z":"91a80f99.6180e","name":"action","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"vacation_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":418,"y":2480,"wires":[["d4ef4bb1.fa73d8"]]},{"id":"d4ef4bb1.fa73d8","type":"api-call-service","z":"91a80f99.6180e","name":"Turn On Vacation Mode","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.vacation_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":606,"y":2480,"wires":[["151ee602.6b009a"]]},{"id":"151ee602.6b009a","type":"api-call-service","z":"91a80f99.6180e","name":"Notify Jason","version":1,"debugenabled":false,"service_domain":"notify","service":"jason","entityId":"","data":"{\"title\":\"Vacation Mode\",\"message\":\"Vacation Mode has been enabled.\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":822,"y":2480,"wires":[[]]}]
