examples/diagnostic.json
[{"id":"83159f9ffc81a5fd","type":"inject","z":"a3f996b014aea8a5","name":"get environment info","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":226,"y":608,"wires":[["11f9ee4206596633"]]},{"id":"607c82ab3a273e93","type":"debug","z":"a3f996b014aea8a5","name":"copy info from debug tab","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":582,"y":608,"wires":[]},{"id":"11f9ee4206596633","type":"http request","z":"a3f996b014aea8a5","name":"fetch","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://localhost:1880/homeassistant/diagnostics","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":390,"y":608,"wires":[["607c82ab3a273e93"]]}]
