examples/cookbook/holiday-lights-scheduler-and-demo-mode-for-wled/holiday-lights-scheduler-and-demo-mode-for-wled.json
[{"id":"4762791a.4c5408","type":"function","z":"31cdc.c18e83244","name":"date ranges","func":"const now = new Date();\nconst monthDay = getMonthDay(now);\nconst { presets, properCase, values: presetValues } = flow.get(\"wledHolidayLightsPresets\");\nconst christmasPresets = [\n  presets.CHRISTMAS,\n  presets.CHRISTMAS_CLASSIC,\n  presets.CHRISTMAS_HOLLY_JOLLY,\n  presets.CHRISTMAS_CANDY_CANE,\n];\nconst states = global.get(\"homeassistant\").homeAssistant.states;\nconst entityId = flow.get(\"wledHolidayLightsEntityId\");\n\nlet updateInterval = 0; // in minutes\nlet preset;\n\n// Winter \nif (isToday(214)) preset = presets.VALENTINE;\n// President's Day changes every year, Veteran's Day & Flag Day always the same date\n// 6/14 Flag Day\n// 11/11 Veterans Day\nelse if (isToday(614) || isToday(1111) || isToday(\"President's Day\") || isToday(\"Memorial Day\")) preset = presets.USA;\nelse if (isToday(317)) preset = presets.ST_PATTY;\nelse if (isToday(\"Easter\")) preset = presets.EASTER;\n// Spring\nelse if (isToday(504)) preset = presets.STARWARS;\nelse if (isToday(505)) preset = presets.CINCO_DE_MAYO;\n// Summer\nelse if (isToday(704)) preset = presets.INDEPENDENCE_DAY;\n// Autumn\nelse if (isToday(1017, 1031)) preset = presets.HALLOWEEN;\nelse if (isToday(\"Thanksgiving Day\")) preset = presets.FALL;\nelse if (isToday(1231)) preset = presets.NEW_YEARS;\nelse if (isToday(\"Thanksgiving Day\", 1231) || isToday(101, 106)) {\n  const activePreset = states[entityId].attributes.preset;\n  preset = getRandomPreset(christmasPresets.filter((e) => e !== activePreset));\n  updateInterval = 60;\n} else {\n  const currentSeason = states[\"sensor.season\"].state;\n  preset = presets[currentSeason.toUpperCase()];\n}\n\nnode.status({ text: properCase[presetValues.findIndex(ele => ele === preset)]});\nmsg.payload = preset;\nconst secondOutput = updateInterval ?  { payload: { timeout: updateInterval } } : { reset: true };\n\nreturn [msg, secondOutput];\n\nfunction isToday(start, end) {\n  if (typeof start === \"string\") {\n    start = getHolidayDate(now, start)\n  }\n  if (typeof end === \"string\") {\n    end = getHolidayDate(now, end)\n  }\n  if (end === undefined) return monthDay === start;\n\n  return monthDay >= start && monthDay <= end;\n}\n\nfunction getHolidayDate(date, holiday) {\n    holiday = holiday.toLowerCase();\n    // dates are formatted as month, week, day of the week\n    // names should be lowercase\n    const holidays = {\n        \"martin luther king day\": [0,2,1],\n        \"president's day\": [1,2,1],\n        \"daylight savings time begins\": [2,1,0],\n        \"mother's day\": [4,1,0],\n        \"memorial day\": [4,-1,1],\n        \"father's day\": [5,2,0],\n        \"labor day\": [8,0,1],\n        \"columbus day\": [9,1,1],\n        \"daylight savings time ends\": [10,0,0],\n        \"thanksgiving day\": [10,3,4]\n    };\n    let holidayDate;\n    if(holiday === \"easter\") {\n        holidayDate = getEasterDate(date); \n    } else {\n        const [month, week, day] = holidays[holiday];\n        holidayDate = getDate(date.getFullYear(), month, week, day);\n    }\n    \n    const monthDay = getMonthDay(holidayDate);\n    \n    return monthDay;\n}\n\nfunction getMonthDay(date) {\n    const monthString = String(date.getMonth() + 1).padStart(2, \"0\");\n    const dayString = String(date.getDate()).padStart(2, \"0\");\n    const monthDay = Number(`${monthString}${dayString}`);\n    \n    return monthDay;\n}\n\nfunction getDate(year, month, week, day) {\n    let firstDay = 1;\n    if (week < 0) {\n        month++;\n        firstDay--;\n    }\n    const date = new Date(year, month, (week * 7) + firstDay);\n    if (day < date.getDay()) {\n        day += 7;\n    }\n    date.setDate(date.getDate() - date.getDay() + day);\n    return date;\n}\n\n/**\n * Calculates Easter in the Gregorian/Western (Catholic and Protestant) calendar\n * based on the algorithm by Oudin (1940) from http://www.tondering.dk/claus/cal/easter.php\n * @returns {array} [int month, int day]\n */\nfunction getEasterDate(date) {\n  const year = date.getFullYear();\n  const f = Math.floor,\n    // Golden Number - 1\n    G = year % 19,\n    C = f(year / 100),\n    // related to Epact\n    H = (C - f(C / 4) - f((8 * C + 13) / 25) + 19 * G + 15) % 30,\n    // number of days from 21 March to the Paschal full moon\n    I = H - f(H / 28) * (1 - f(29 / (H + 1)) * f((21 - G) / 11)),\n    // weekday for the Paschal full moon\n    J = (year + f(year / 4) + I + 2 - C + f(C / 4)) % 7,\n    // number of days from 21 March to the Sunday on or before the Paschal full moon\n    L = I - J,\n    month = 3 + f((L + 40) / 44),\n    day = L + 28 - 31 * f(month / 4);\n\n  return new Date(`${month}/${day}/${year}`);\n}\n\nfunction getRandomPreset(list) {\n  return list[Math.floor(Math.random() * list.length)];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":614,"y":176,"wires":[["91b62e9f.fe736"],["dc570e50.22a3a"]]},{"id":"c46d93f8.1fe18","type":"switch","z":"31cdc.c18e83244","name":"dark?","property":"dark","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":386,"y":176,"wires":[["4762791a.4c5408"],["73710f8.1582bf"]]},{"id":"fe4f63d8.5312c","type":"server-state-changed","z":"31cdc.c18e83244","name":"Demo Mode","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.holiday_lights_demo_mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"","forType":"num","forUnits":"minutes","ignorePrevStateNull":true,"ignorePrevStateUnknown":true,"ignorePrevStateUnavailable":true,"ignoreCurrentStateUnknown":true,"ignoreCurrentStateUnavailable":true,"x":214,"y":272,"wires":[["f8016c2c.a93d1","1a546dd7.2d8ef2"],["92c007de.c4a168"]]},{"id":"73710f8.1582bf","type":"api-call-service","z":"31cdc.c18e83244","name":"turn off holiday lights","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"{{flow.wledHolidayLightsEntityId}}","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":644,"y":224,"wires":[["6c957d8b.11cc64"]]},{"id":"dc570e50.22a3a","type":"ha-wait-until","z":"31cdc.c18e83244","name":"loop","outputs":2,"entityId":"{{flow.wledHolidayLightsEntityId}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":false,"blockInputOverrides":false,"x":818,"y":176,"wires":[[],["4762791a.4c5408"]]},{"id":"f5422b5c.762798","type":"eztimer","lat":"","lon":"","z":"31cdc.c18e83244","name":"","debug":false,"autoname":"sunset - 00:00","tag":"","suspended":false,"sendEventsOnSuspend":false,"timerType":"1","startupMessage":true,"ontype":"1","ontimesun":"sunset","ontimetod":"17:00","onpropertytype":"msg","onproperty":"dark","onvaluetype":"bool","onvalue":"true","onoffset":"","onrandomoffset":0,"onsuppressrepeats":false,"offtype":"2","offtimesun":"dusk","offtimetod":"00:00","offduration":0,"offpropertytype":"msg","offproperty":"dark","offvaluetype":"bool","offvalue":"false","offoffset":0,"offrandomoffset":0,"offsuppressrepeats":false,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"sun":true,"x":224,"y":176,"wires":[["c46d93f8.1fe18"]]},{"id":"f8016c2c.a93d1","type":"time-range-switch","z":"31cdc.c18e83244","name":"","startTime":"sunset","endTime":"00:00","startOffset":0,"endOffset":0,"x":416,"y":272,"wires":[["785b2171.37aca"],["73710f8.1582bf"]]},{"id":"91b62e9f.fe736","type":"api-call-service","z":"31cdc.c18e83244","name":"turn on holiday lights","version":1,"debugenabled":false,"service_domain":"wled","service":"preset","entityId":"{{flow.wledHolidayLightsEntityId}}","data":"{\"preset\": payload}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":868,"y":128,"wires":[[]]},{"id":"78b7479f.e79dd8","type":"function","z":"31cdc.c18e83244","name":"format preset","func":"// WLED Presets\nconst preset = msg.payload.replace(/\\s/g, \"_\").toUpperCase();\nconst { presets } = flow.get(\"wledHolidayLightsPresets\");\n\nmsg.payload = presets[preset];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":614,"y":128,"wires":[["91b62e9f.fe736"]]},{"id":"6a3ef206.84c5fc","type":"api-call-service","z":"31cdc.c18e83244","name":"populate HA dropdown with presets","version":1,"debugenabled":false,"service_domain":"input_select","service":"set_options","entityId":"input_select.holiday_lights_presets","data":"{\"options\": payload}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":684,"y":80,"wires":[["d7d3f0e8.9971d"]]},{"id":"a6b79bf.256d268","type":"inject","z":"31cdc.c18e83244","name":"Setup WLED Presets","props":[{"p":"presets","v":"{\"WINTER\":8,\"VALENTINE\":3,\"RED_WHITE_AND_BLUE\":2,\"ST_PATTY\":9,\"SPRING\":10,\"EASTER\":11,\"STARWARS\":14,\"CINCO_DE_MAYO\":13,\"SUMMER\":0,\"INDEPENDENCE_DAY\":0,\"AUTUMN\":1,\"HALLOWEEN\":12,\"CHRISTMAS\":5,\"CHRISTMAS_CLASSIC\":7,\"CHRISTMAS_HOLLY_JOLLY\":4,\"CHRISTMAS_CANDY_CANE\":6,\"NEW_YEARS\":15}","vt":"json"},{"p":"entityId","v":"light.holiday_lights","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"disable","payloadType":"str","x":260,"y":80,"wires":[["d89db901.9fd588","539eea44.9b6524"]]},{"id":"aea9da7f.af56a8","type":"ha-entity","z":"31cdc.c18e83244","name":"current preset","server":"2dad33ee.42bf5c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Holiday Lights Current Preset"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":624,"y":464,"wires":[[]]},{"id":"4b02330f.bc08fc","type":"function","z":"31cdc.c18e83244","name":"format","func":"if(msg.payload === \"off\") return msg;\n\nconst states = global.get(\"homeassistant\").homeAssistant.states;\nconst entityId = flow.get(\"wledHolidayLightsEntityId\");\nconst activePreset = states[entityId].attributes.preset;\nconst { properCase, values } = flow.get(\"wledHolidayLightsPresets\");\nconst index = values.findIndex(ele => ele === activePreset);\nconst presetName = index === -1 ? \"none\" : properCase[index];\n\nmsg.payload = presetName;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":464,"wires":[["aea9da7f.af56a8"]]},{"id":"1538c003.e770a","type":"ha-wait-until","z":"31cdc.c18e83244","name":"loop","outputs":2,"entityId":"{{flow.wledHolidayLightsEntityId}}","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"$number($entities(\"input_number.holiday_lights_demo_mode_delay\").state)","timeoutType":"jsonata","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":false,"blockInputOverrides":true,"x":1026,"y":320,"wires":[[],["92c007de.c4a168"]]},{"id":"92c007de.c4a168","type":"switch","z":"31cdc.c18e83244","name":"which mode?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"cycle presets","vt":"str"},{"t":"eq","v":"cycle effects","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":406,"y":320,"wires":[["29bbe4ad.4de71c"],["7f2dc75.a04cf38"]]},{"id":"422a9fe2.d974c","type":"api-call-service","z":"31cdc.c18e83244","name":"turn on preset","version":1,"debugenabled":false,"service_domain":"wled","service":"preset","entityId":"{{flow.wledHolidayLightsEntityId}}","data":"{\"preset\": preset}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":848,"y":320,"wires":[["1538c003.e770a","e132c6fa.e3da18"]]},{"id":"9755a99c.54ba18","type":"api-call-service","z":"31cdc.c18e83244","name":"turn on effect","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{flow.wledHolidayLightsEntityId}}","data":"{\"effect\": effect}","dataType":"jsonata","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":838,"y":368,"wires":[["1538c003.e770a","e132c6fa.e3da18"]]},{"id":"1a546dd7.2d8ef2","type":"change","z":"31cdc.c18e83244","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":594,"y":272,"wires":[["1538c003.e770a","dc570e50.22a3a"]]},{"id":"71da85fd.de44fc","type":"api-call-service","z":"31cdc.c18e83244","name":"turn off demo mode","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.holiday_lights_demo_mode","data":"{\"option\": \"off\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":490,"y":416,"wires":[[]]},{"id":"320d2444.2aa86c","type":"server-state-changed","z":"31cdc.c18e83244","name":"Holiday Lights turned off?","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.holiday_lights","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":252,"y":416,"wires":[["71da85fd.de44fc","4b02330f.bc08fc"],["4b02330f.bc08fc"]]},{"id":"6c957d8b.11cc64","type":"change","z":"31cdc.c18e83244","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":818,"y":224,"wires":[["dc570e50.22a3a"]]},{"id":"7f2dc75.a04cf38","type":"function","z":"31cdc.c18e83244","name":"get next effect","func":"const states = global.get(\"homeassistant\").homeAssistant.states;\nconst entityId = flow.get(\"wledHolidayLightsEntityId\");\nconst effects = states[entityId].attributes.effect_list;\nconst activeEffect = states[entityId].attributes.effect;\nlet index = effects.findIndex(ele => ele === activeEffect);\nindex = (index === -1 || index >= effects.length - 1) ? 0 : index + 1;\n\nnode.status({text: effects[index]});\n\nmsg.effect = msg.name = effects[index];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":624,"y":368,"wires":[["9755a99c.54ba18"]]},{"id":"29bbe4ad.4de71c","type":"function","z":"31cdc.c18e83244","name":"get next preset","func":"const states = global.get(\"homeassistant\").homeAssistant.states;\nconst entityId = flow.get(\"wledHolidayLightsEntityId\");\nconst { properCase, values } = flow.get(\"wledHolidayLightsPresets\");\nconst activePreset = states[entityId].attributes.preset;\nlet index = values.findIndex(ele => ele === activePreset);\nindex = index === -1 || index >= values.length - 1 ? 0 : index +1;\n\nnode.status({text: properCase[index]});\n\nmsg.preset = values[index];\nmsg.name = properCase[index];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":624,"y":320,"wires":[["422a9fe2.d974c"]]},{"id":"d89db901.9fd588","type":"function","z":"31cdc.c18e83244","name":"process data","func":"String.prototype.toProperCase = function () {\n    return this.replace(/_/g, \" \").replace(/\\w\\S*/g, (txt) => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase());\n};\n\nconst validPreset = ([_,val]) => val > 0 && val <= 16;\nconst filteredPresets = Object.fromEntries(Object.entries(msg.presets).filter(validPreset));\nconst keys = Object.keys(filteredPresets);\nconst presets = {\n    presets: filteredPresets,\n    properCase: keys.map((ele) => ele.toProperCase()),\n    keys,\n    values: Object.values(filteredPresets)\n};\n\nflow.set(\"wledHolidayLightsPresets\", presets);\nflow.set(\"wledHolidayLightsEntityId\", msg.entityId);\n\nmsg.payload = [...presets.properCase].sort();\nmsg.disable = true; // Disable Preset selector until after updated\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":454,"y":80,"wires":[["6a3ef206.84c5fc"]]},{"id":"d7d3f0e8.9971d","type":"change","z":"31cdc.c18e83244","name":"enable","rules":[{"t":"set","p":"payload","pt":"msg","to":"enable","tot":"str"},{"t":"delete","p":"disable","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":898,"y":80,"wires":[[]]},{"id":"539eea44.9b6524","type":"trigger-state","z":"31cdc.c18e83244","name":"Preset Selector","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.holiday_lights_presets","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":416,"y":128,"wires":[["78b7479f.e79dd8"],[]]},{"id":"e132c6fa.e3da18","type":"ha-entity","z":"31cdc.c18e83244","name":"current demo","server":"2dad33ee.42bf5c","version":1,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Holiday Lights Demo Current"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""}],"state":"name","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":1046,"y":368,"wires":[[]]},{"id":"785b2171.37aca","type":"api-current-state","z":"31cdc.c18e83244","name":"lights still on?","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{flow.wledHolidayLightsEntityId}}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":416,"y":224,"wires":[["4762791a.4c5408"],[]]},{"id":"a3f0ee9.6fd551","type":"server-events","z":"31cdc.c18e83244","name":"HA Client Events","event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"x":224,"y":32,"wires":[["6c13e445.ca929c"]]},{"id":"6c13e445.ca929c","type":"function","z":"31cdc.c18e83244","name":"HA running?","func":"if(msg.payload !== \"running\") return;\n\nconst { properCase } = flow.get(\"wledHolidayLightsPresets\");\n\nmsg.payload = [...properCase].sort();\nmsg.disable = true;\n\nreturn [msg, { payload: \"disable\" }];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":454,"y":32,"wires":[["6a3ef206.84c5fc"],["539eea44.9b6524"]]},{"id":"c725780d.960c08","type":"complete","z":"31cdc.c18e83244","name":"Enable","scope":["d7d3f0e8.9971d"],"uncaught":false,"x":194,"y":128,"wires":[["539eea44.9b6524"]]}]
