examples/node/get-entities/example_04.json
[{"id":"a13b46e3d393d3d6","type":"inject","z":"b9bff4863336dc6b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1712,"wires":[["a16bfc3b499fc173"]]},{"id":"fe39495f3aab7683","type":"debug","z":"b9bff4863336dc6b","name":"do stuff","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":668,"y":1712,"wires":[]},{"id":"a16bfc3b499fc173","type":"ha-get-entities","z":"b9bff4863336dc6b","name":"get all off lights in the kitchen","server":"","version":1,"rules":[{"condition":"stateObject","property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"condition":"stateObject","property":"state","logic":"is","value":"off","valueType":"str"},{"condition":"areaRegistry","property":"name","logic":"is","value":"Kitchen","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":444,"y":1712,"wires":[["fe39495f3aab7683"]]}]
