examples/node/get-entities/example_04.json
[{"id":"a13b46e3d393d3d6","type":"inject","z":"c285d687b9cdd0c8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":1104,"wires":[["a16bfc3b499fc173"]]},{"id":"fe39495f3aab7683","type":"debug","z":"c285d687b9cdd0c8","name":"do stuff","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":788,"y":1104,"wires":[]},{"id":"a16bfc3b499fc173","type":"ha-get-entities","z":"c285d687b9cdd0c8","name":"get all off lights in the kitchen","server":"","version":1,"rules":[{"condition":"state_object","property":"entity_id","logic":"starts_with","value":"light.","valueType":"str"},{"condition":"state_object","property":"state","logic":"is","value":"off","valueType":"str"},{"condition":"state_object","property":"name","logic":"is","value":"Kitchen","valueType":"str"}],"outputType":"array","outputEmptyResults":false,"outputLocationType":"msg","outputLocation":"payload","outputResultsCount":1,"x":564,"y":1104,"wires":[["fe39495f3aab7683"]]},{"id":"b5a04b91ddb0c5a3","type":"global-config","env":[],"modules":{"node-red-contrib-home-assistant-websocket":"0.78.0"}}]
