examples/cookbook/starting-flow-after-home-assistant-restart/example_01.json
[{"id":"eb756b3f.d770f8","type":"subflow","name":"Create HA Helpers","info":"","category":"","in":[{"x":84,"y":96,"wires":[{"id":"7f1493fc.1300fc"}]}],"out":[],"env":[{"name":"serverName","type":"str","value":"Home Assistant","ui":{"label":{"en-US":"HA Server Name"},"type":"input","opts":{"types":["str"]}}},{"name":"helpers","type":"json","value":"[]","ui":{"label":{"en-US":"Helpers"},"type":"input","opts":{"types":["json"]}}}],"color":"#DDAA99","status":{"x":246,"y":48,"wires":[{"id":"a66d5d93.8a5f","port":0}]}},{"id":"7f1493fc.1300fc","type":"function","z":"eb756b3f.d770f8","name":"process helpers","func":"const serverName = toCamelCase(env.get('serverName'));\nconst haServer = global.get(\"homeassistant\")[serverName];\nif(!haServer) {\n    node.error(\"Invalid HA server name\");\n    return;\n}\nconst states = haServer.states;\nconst helpers = env.get(\"helpers\");\n\nhelpers.forEach(h => {\n    const entityId = `${h.type}.${h.id}`;\n    if(!states[entityId]) {\n        const {id, type, ...data} = h;\n        const apiData = {\n            entity: h,\n            payload: { \n                data \n            }\n        };\n        apiData.payload.data.type = `${type}/create`;\n    \n        node.send(apiData);\n        node.status({text: `Creating ${entityId}`});\n    }\n});\n\nnode.done();\n\nfunction toCamelCase(str) {\n    return str.replace(/(?:^\\w|[A-Z]|\\b\\w|\\s+)/g, (match, index) => {\n        if (+match === 0) return '';\n        return index === 0 ? match.toLowerCase() : match.toUpperCase();\n    });\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":224,"y":96,"wires":[["a4a0abd9.7576d8"]]},{"id":"a4a0abd9.7576d8","type":"ha-api","z":"eb756b3f.d770f8","name":"create helper","server":"","debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"","dataType":"json","location":"payload","locationType":"msg","responseType":"json","x":390,"y":96,"wires":[["b76d0c56.d54b9"]]},{"id":"388bb5c7.47346a","type":"ha-api","z":"eb756b3f.d770f8","name":"rename helper entity id","server":"","debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\t   \"type\":\"config/entity_registry/update\",\t   \"entity_id\": entity.type & \".\" & payload.id,\t   \"new_entity_id\": entity.type & \".\" & entity.id\t}","dataType":"jsonata","location":"payload","locationType":"msg","responseType":"json","x":788,"y":96,"wires":[[]]},{"id":"b76d0c56.d54b9","type":"switch","z":"eb756b3f.d770f8","name":"need to rename?","property":"payload.id","propertyType":"msg","rules":[{"t":"neq","v":"entity.id","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":96,"wires":[["388bb5c7.47346a","3e47440a.eee2cc"]]},{"id":"a66d5d93.8a5f","type":"status","z":"eb756b3f.d770f8","name":"","scope":["7f1493fc.1300fc","3e47440a.eee2cc"],"x":124,"y":48,"wires":[[]]},{"id":"3e47440a.eee2cc","type":"function","z":"eb756b3f.d770f8","name":"rename status","func":"const oldEntityId = `${msg.entity.type}.${msg.payload.id}`;\nconst newEntityId = `${msg.entity.type}.${msg.entity.id}`;\n\nnode.status({text: `Renaming ${oldEntityId} to ${newEntityId}`});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":768,"y":144,"wires":[[]]},{"id":"415b54b4.1e957c","type":"server-events","z":"913d7f6.3086c8","name":"","server":"","event_type":"home_assistant_client","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"x":232,"y":144,"wires":[["66ce97dc.9a80c8"]]},{"id":"66ce97dc.9a80c8","type":"switch","z":"913d7f6.3086c8","name":"running?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"running","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":444,"y":144,"wires":[["a850b349.43cf5"]]},{"id":"6ae8329b.90dc0c","type":"api-call-service","z":"913d7f6.3086c8","name":"","server":"","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.home_assistant_restarted","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":840,"y":144,"wires":[["dd3689e3.52a408"]]},{"id":"a850b349.43cf5","type":"api-current-state","z":"913d7f6.3086c8","name":"has restarted?","server":"","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.home_assistant_restarted","state_type":"str","state_location":"","override_payload":"none","entity_location":"","override_data":"none","blockInputOverrides":false,"x":608,"y":144,"wires":[["6ae8329b.90dc0c"],[]]},{"id":"3afd6df1.501d32","type":"server-state-changed","z":"913d7f6.3086c8","name":"restarted?","server":"","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.home_assistant_restarted","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"x":620,"y":192,"wires":[["6ae8329b.90dc0c"],[]]},{"id":"165c1f0a.ccb5b1","type":"comment","z":"913d7f6.3086c8","name":"Home Assistant Restarted","info":"","x":222,"y":48,"wires":[]},{"id":"dd3689e3.52a408","type":"link out","z":"913d7f6.3086c8","name":"Home Assistant Restarted","links":["2d76ddcd.0ae662"],"x":1102,"y":144,"wires":[],"l":true},{"id":"2d76ddcd.0ae662","type":"link in","z":"913d7f6.3086c8","name":"Home Assistant Restarted","links":["dd3689e3.52a408"],"x":222,"y":240,"wires":[["50faf542.24b78c"]],"l":true},{"id":"50faf542.24b78c","type":"debug","z":"913d7f6.3086c8","name":"do stuff","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":444,"y":240,"wires":[]},{"id":"938540e7.67408","type":"inject","z":"913d7f6.3086c8","name":"Click to create","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":198,"y":96,"wires":[["368ebdbe.fc5dd2","f8c1fb61.cd54a8"]]},{"id":"f8c1fb61.cd54a8","type":"subflow:eb756b3f.d770f8","z":"913d7f6.3086c8","name":"HA helpers","env":[{"name":"helpers","value":"[{\"id\":\"input_boolean.home_assistant_restarted\",\"type\":\"input_boolean\",\"name\":\"Home Assistant Restarted\",\"icon\":\"mdi:restart-alert\"}]","type":"json"}],"x":454,"y":96,"wires":[]},{"id":"368ebdbe.fc5dd2","type":"ha-api","z":"913d7f6.3086c8","name":"HA automation","server":"","debugenabled":false,"protocol":"http","method":"post","path":"https://ha.zachow.net/api/config/automation/config/nrrestartnotification","data":"{\t   \"alias\": \"Home Assistant Restart\",\t   \"description\": \"\",\t   \"trigger\": [\t       {\t           \"platform\": \"homeassistant\",\t           \"event\": \"start\"       \t       }    \t   ],\t   \"condition\": [],\t   \"action\": [\t       {\t           \"service\": \"input_boolean.turn_on\",\t           \"data\": {},\t           \"entity_id\": \"input_boolean.home_assistant_restarted\"       \t       }    \t   ],\t   \"mode\": \"single\" \t}","dataType":"jsonata","location":"payload","locationType":"msg","responseType":"json","x":464,"y":48,"wires":[[]]}]
